<div class="main-content">
	<div class="main-content-inner">
		<div class="ace-settings-container" id="ace-settings-container">
			<!-- 公共皮肤，框架布局设置skin.html -->
			<div ng-include="'views/common/skin.html'" ></div>
			<!-- 公共皮肤，框架布局设置skin.html -->
		</div>
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<span>后台管理</span>
				</li>

				<li>
					<span>红包管理</span>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<div class="row">
						<div class="col-xs-12">
							<div class="page-header">
								<form class="form-inline">
									
									<div class="input-group">
										<span class="input-group-addon">商家名称</span>
										<input class="form-control" ng-model="businessName" type="text" placeholder="请输入商家名称" maxlength="20" />
									</div>
									
									<div class="input-group" style="margin-left:20px;">
										<span class="input-group-addon">创建时间</span>
										<div class="input-group">
											<input class="form-control date-picker" ng-model="startDate" readonly size="12" type="text"/>
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
										</div>
				                        -
										<div class="input-group">
											<input class="form-control date-picker" ng-model="endDate" readonly size="12" type="text" />
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
										</div>
						            </div>
						            
									<div class="input-group" style="margin-left:20px;">
										<span class="input-group-addon">审核状态</span>
						                <select class="chosen-select form-control" id="status" ng-model="status" name="status" style="width:120px;">
											<option value="">请选择</option>
				                            <option value="0">待审核</option>
				                            <option value="1">审核通过</option>
											<option value="-1">审核不通过</option>
											<option value="2">发送成功</option>
						                </select>
						            </div>

						            <div class="form-group" style="margin-left:100px;margin-right:15px;">
						                <button type="button" class="btn btn-white btn-success" ng-click="query()"><i class="ace-icon fa fa-search nav-search-icon"></i><strong>查询</strong></button>
						            </div>
						            <div class="form-group">
						                <button type="button" class="btn btn-white btn-info" ng-click="reset()"><i class=" ace-icon fa fa-undo"></i><strong>重置</strong></button>
						            </div>
						        </form>
							</div><!-- /.page-header -->

							<div class="table-header">
								红包集申请列表
							</div>
							<div>
								<table class="table table-striped table-bordered table-hover" ng-init="getPage()">
									<thead>
										<tr>
											<th>序号</th>
											<th>商家名称</th>
											<th>红包类型</th>
											<th>红包金额</th>
											<th>红包个数</th>
											<th>支付方式</th>
											<th>投放区域</th>
											<th>浏览量</th>
											<th>兴趣</th>
											<th>广告文字</th>
											<th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>创建时间</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="row in data" repeat-finish align="center">
											<td>{{($index+1) + (currentPage - 1) * itemsPerPage}}</td>
											<td>{{row.businessName}}</td>
											<td>{{row.type | decode:0:'手气红包':1:'普通红包'}}</td>
											<td>{{row.balance}}</td>
											<td style="color:#6FB3E0"><strong>{{row.count}}<strong></td>
											<td>{{row.payWay | decode:0:'余额':1:'微信':2:'支付宝'}}</td>
											<td title="{{row.regionName}}">{{row.regionName | limit:12}}</td>
											<td style="color:#6FB3E0"><strong>{{row.browse}}<strong></td>
											<td title="{{row.interest}}">{{row.interest | limit:12}}</td>
											<td title="{{row.summary}}">{{row.summary | limit:12}}</td>
											<td>{{row.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
											<td> <div class="label {{row.status | decode:0:'label-info':1:'label-success':-1:'label-danger':2:'label-success'}}" style="width:80px;">
												 {{row.status | decode:0:'待审核':1:'审核通过':-1:'审核不通过':2:'发送成功'}}
											 </div>
										    </td>
											<td>
					                            <div class="btn-group" role="group">
													<button class="btn btn-white btn-default btn-bold {{row.status | decode:0:'':1:'disabled':-1:'disabled':2:'disabled'}}" ng-click="openRedpacketWin(row.id,row.status,row.banners)"><i class="ace-icon fa fa-list"></i>审核</button>
					                            </div>
					                        </td>
										</tr>
									</tbody>
								</table>
								<div ng-show="totalItems > 0">
					            <h5 style="font-size:14px;float:left;">
					                <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
					                    <option>10</option>
					                    <option>20</option>
					                    <option>30</option>
					                </select>&nbsp;条记录 总共{{totalItems}}条记录
								</h5>
					            <uib-pagination
					                    total-items="totalItems"
					                    ng-model="currentPage"
					                    max-size="5"
					                    boundary-links="true"
					                    force-ellipses="false"
					                    first-text="首页"
					                    last-text="末页"
					                    previous-text="上一页"
					                    next-text="下一页"
					                    num-pages="numPages"
					                    ng-change="pageChanged()"
					                    items-per-page="itemsPerPage"
					                    class="pagination-sm" style="float:right;margin:0;">
					            </uib-pagination>
								</div>
							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->

<script type="text/javascript">

	jQuery(function($) {
		$('.date-picker').datepicker({
    		autoclose: true,
    		todayHighlight: true,
            format: "yyyy-mm-dd"
    	})
    	.next().on(ace.click_event, function(){
    		$(this).prev().focus();
    	});
	});

</script>
