<div class="main-content">
<div class="main-content-inner">
<div class="ace-settings-container" id="ace-settings-container">
<!-- 公共皮肤，框架布局设置skin.html -->
<div ng-include="'views/common/skin.html'"></div>
<!-- 公共皮肤，框架布局设置skin.html -->
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<ul class="breadcrumb">
<li><i class="ace-icon fa fa-home home-icon"></i> <span>后台管理</span></li><li>
<span>红包管理</span>
</li>
</ul>
<!-- /.breadcrumb -->
</div>

<div class="page-content">
<div class="row">
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->
<div class="row">
<div class="col-xs-12">
<div class="page-header">
<form class="form-inline">
	<div class="input-group">
		<span class="input-group-addon">题目名称</span>
		<input class="form-control" ng-model="title" type="text" id="title" placeholder="请输入题目名称" maxlength="20">
	</div>
	<div class="form-group" style="margin-left:100px;margin-right:15px">
		 <button type="button" class="btn btn-white btn-success" ng-click="query()"><i class="ace-icon fa fa-search nav-search-icon"></i><strong>查询</strong></button></div><div class="form-group">
		 <button type="button" class="btn btn-white btn-info" ng-click="openImportPage()"><i class="ace-icon fa fa-edit"></i><strong>导入Excel</strong></button>
		 <button type="button" class="btn btn-white btn-info" ng-click="openExportPage()"><i class="ace-icon fa fa-edit"></i><strong>导出Excel</strong></button>
	 </div>
 </form>
 </div>
 <!-- /.page-header -->
 <div class="table-header">秒抢题目导入</div>
 <div>
 <table class="table table-striped table-bordered table-hover" ng-init="getPage()">
	 <thead>
		 <tr>
			 <th>序号</th>
			 <th>题目名称</th>
			 <th>选项答案</th>
			 <th>操作</th>
		 </tr>
	 </thead>
 <tbody>
	 <tr ng-repeat="row in data" repeat-finish align="center">
		 <td>{{($index+1) + (currentPage - 1) * itemsPerPage}}</td>
		 <td>{{row.title}}</td>
		 <td>{{row.itemAnswer}}</td>
		 <td>
			 <div class="btn-group" role="group">
			 	<button class="btn btn-white btn-danger btn-bold" ng-click="deleteQuestion(row.id)" style="margin-left:4px"><i class="fa fa-trash"></i> 删除</button>
			 </div>
		 </td>
	 </tr>
 </tbody>
 </table>
 <div ng-show="totalItems > 0"><h5 style="font-size:14px;float:left">
 <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>10</option><option>20</option><option>30</option></select>&nbsp;条记录 总共{{totalItems}}条记录</h5>
 <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" force-ellipses="false" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" num-pages="numPages" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" style="float:right;margin:0"></uib-pagination>
 </div>
 </div>
 </div>
 </div>
 <!-- PAGE CONTENT ENDS -->
 </div>
 <!-- /.col -->
 </div><!-- /.row -->
 </div><!-- /.page-content -->
 </div></div><!-- /.main-content -->