<div class="main-content">
	<div class="main-content-inner">
		<div class="ace-settings-container" id="ace-settings-container">
			<!-- 公共皮肤，框架布局设置skin.html -->
			<div ng-include="'views/common/skin.html'" ></div>
			<!-- 公共皮肤，框架布局设置skin.html -->
		</div>
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<span>后台管理</span>
				</li>

				<li>
					<span>红包管理</span>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="row">
						<div class="col-xs-12">
							<div class="page-header">
									<form class="form-inline">
										<!-- <div class="input-group">
											<span class="input-group-addon">省区名称</span>
											<input class="form-control" ng-model="provinceName" type="text" id="provinceName" placeholder="请输入省区名称" maxlength="20" />
										</div> -->
										<div class="input-group" style="margin-left:20px;">
											<span class="input-group-addon">市区名称</span>
											<input class="form-control" ng-model="regionName" type="text" id="regionName" placeholder="请输入市区名称" maxlength="20" />
										</div>
				            <div class="form-group" style="margin-left:100px;margin-right:15px;">
				                <button type="button" class="btn btn-white btn-success" ng-click="query()"><i class="ace-icon fa fa-search nav-search-icon"></i><strong>查询</strong></button>
				            </div>
				            <div class="form-group">
				                <button type="button" class="btn btn-white btn-info" ng-click="reset()"><i class=" ace-icon fa fa-undo"></i><strong>重置</strong></button>
				            </div>
				        </form>
							</div><!-- /.page-header -->

							<div class="table-header">
								地市赞助商LOGO列表
							</div>
							<div>
								<table class="table table-striped table-bordered table-hover" ng-init="getPage()">
									<thead>
										<tr>
											<th>序号</th>
											<th>省级名称</th>
											<th>市区名称</th>
											<th>市区Logo</th>
											<th>操作</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="row in data" repeat-finish align="center">
											<td>{{($index+1) + (currentPage - 1) * itemsPerPage}}</td>
											<td>{{row.province.name}}</td>
											<td>{{row.regionName}}</td>
											<td class="ace-thumbnails clearfix"><a href="{{row.sponsorLogo}}" data-rel="colorbox"><img class="img-thumbnail" src="" onerror="this.src='../../images/icon150x150.png'" ng-src="{{row.sponsorLogo}}" /></a></td>
											<td>
												<div class="btn-group" role="group">
														<button class="btn btn-white btn-danger btn-bold" ng-click="uploadLogo(row.id)"> <i class="fa fa-edit"></i> 上传Logo </button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div ng-show="totalItems > 0">
					            <h5 style="font-size:14px;float:left;">
					                <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
					                    <option>10</option>
					                    <option>20</option>
					                    <option>30</option>
					                </select>&nbsp;条记录 总共{{totalItems}}条记录
								</h5>
					            <uib-pagination
					                    total-items="totalItems"
					                    ng-model="currentPage"
					                    max-size="5"
					                    boundary-links="true"
					                    force-ellipses="false"
					                    first-text="首页"
					                    last-text="末页"
					                    previous-text="上一页"
					                    next-text="下一页"
					                    num-pages="numPages"
					                    ng-change="pageChanged()"
					                    items-per-page="itemsPerPage"
					                    class="pagination-sm" style="float:right;margin:0;">
					            </uib-pagination>
								</div>
							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->


<script type="text/javascript">

	jQuery(function($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition:true,
			scalePhotos:true,
			scrolling:false,
			previous:'<i class="ace-icon fa fa-arrow-left"></i>',
			next:'<i class="ace-icon fa fa-arrow-right"></i>',
			close:'&times;',
			current:'{current} of {total}',
			maxWidth:'100%',
			maxHeight:'100%',
			onOpen:function(){
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed:function(){
				document.body.style.overflow = $overflow;
			},
			onComplete:function(){
				$.colorbox.resize();
			}
	};

	$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
	$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


	$(document).one('ajaxloadstart.page', function(e) {
		$('#colorbox, #cboxOverlay').remove();
   	});

	});

</script>
