<div class="main-content">
	<div class="main-content-inner">
		<div class="ace-settings-container" id="ace-settings-container">
			<!-- 公共皮肤，框架布局设置skin.html -->
			<div ng-include="'views/common/skin.html'" ></div>
			<!-- 公共皮肤，框架布局设置skin.html -->
		</div>
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<span>后台管理</span>
				</li>

				<li>
					<span>财务管理</span>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<div class="row">
						<div class="col-xs-12">
							<div class="page-header">
								<form class="form-inline">
									<div class="input-group">
										<span class="input-group-addon">手机号</span>
										<input class="form-control" ng-model="mobile" type="text" id="mobile" placeholder="请输入手机号" maxlength="20" />
									</div>
						            <div class="input-group" style="margin-left:20px;">
										<span class="input-group-addon">申请时间</span>
										<div class="input-group">
											<input class="form-control date-picker" ng-model="startDate" readonly size="12" type="text"/>
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
										</div>
				                        -
										<div class="input-group">
											<input class="form-control date-picker" ng-model="endDate" readonly size="12" type="text" />
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
										</div>
						            </div>
						            <div class="input-group" style="margin-left:20px;">
										<span class="input-group-addon">状态</span>
						                <select class="chosen-select form-control" id="status" ng-model="status" name="status">
											<option value="">请选择</option>
				                            <option value="0">待审核</option>
				                            <option value="1">审核通过</option>
											<option value="-1">审核不通过</option>
											<option value="2">到账通过</option>
											<option value="-2">到账不通过</option>
						                </select>
						            </div>

						            <div class="form-group" style="margin-left:100px;margin-right:15px;">
						                <button type="button" class="btn btn-white btn-success" ng-click="query()"><i class="ace-icon fa fa-search nav-search-icon"></i><strong>查询</strong></button>
						            </div>
						            <div class="form-group">
						                <button type="button" class="btn btn-white btn-info" ng-click="reset()"><i class=" ace-icon fa fa-undo"></i><strong>重置</strong></button>
						            </div>
						        </form>
							</div><!-- /.page-header -->

							<div class="table-header">
								提现申请列表
							</div>
							<div>
								<table class="table table-striped table-bordered table-hover" ng-init="getPage()">
									<thead>
										<tr>
											<th>序号</th>
											<th>手机号</th>
											<th>昵称</th>
											<th>申请金额(元)</th>
											<th>手续费(元)</th>
											<th>实际到账(元)</th>
											<th>操作来源</th>
											<th>二维码</th>
											<th>支付宝账户</th>
											<th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>申请时间</th>
											<th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>审核时间</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="row in data" repeat-finish align="center">
											<td>{{($index+1) + (currentPage - 1) * itemsPerPage}}</td>
											<td>{{row.mobile}}</td>
											<td>{{row.nickName}}</td>
											<td style="color:#D53F40"><strong>{{row.withdrawAmount | currency :'￥'}}<strong></td>
											<td>{{row.fee | currency :'￥'}}</td>
											<td style="color:#D53F40"><strong>{{row.withdrawAmount-row.fee | currency :'￥'}}<strong></td>
											<td style="color:#81a87b"><strong>{{row.source | decode:0:'微信':1:'App':3:'微信'}}<strong></td>
											<td class="ace-thumbnails clearfix"><a href="{{row.imagePath}}" data-rel="colorbox"><img class="img-thumbnail" ng-src="{{row.imagePath}}" /></a></td>
											<td>{{row.alipayAccount}}</td>
											<td>{{row.applyTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
											<td>{{row.auditTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
											<td>
												<div class="label {{row.status | decode:0:'label-info':1:'label-success':-1:'label-danger':2:'label-success':-2:'label-danger'}}" style="width:80px;">
					                            	{{row.status | decode:0:'待审核':1:'审核通过':-1:'审核不通过':2:'到账通过':-2:'到账不通过'}}
					                        	</div>
											</td>
											<td>
					                            <div class="btn-group" role="group">
													<!-- <button class="btn btn-white btn-default btn-bold {{row.status | decode:0:'':1:'disabled':-1:'disabled':-2:'disabled':2:'disabled'}}" ng-click="openWithdrawApplyWin(row.id,row.status)"><i class="ace-icon fa fa-list"></i>审核</button> -->
													<button class="btn btn-white btn-danger btn-bold {{row.status | decode:0:'':-2:'disabled':1:'disabled':-1:'disabled':2:'disabled'}}" style="margin-left:4px;" ng-click="openCashApplyWin(row.id,row.status)"><i class="ace-icon fa fa-list"></i>审核</button>
					                            </div>
					                        </td>
										</tr>
									</tbody>
								</table>
								<div ng-show="totalItems > 0">
					            <h5 style="font-size:14px;float:left;">
					                <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
					                    <option>10</option>
					                    <option>20</option>
					                    <option>30</option>
					                </select>&nbsp;条记录 总共{{totalItems}}条记录
								</h5>
					            <uib-pagination
					                    total-items="totalItems"
					                    ng-model="currentPage"
					                    max-size="5"
					                    boundary-links="true"
					                    force-ellipses="false"
					                    first-text="首页"
					                    last-text="末页"
					                    previous-text="上一页"
					                    next-text="下一页"
					                    num-pages="numPages"
					                    ng-change="pageChanged()"
					                    items-per-page="itemsPerPage"
					                    class="pagination-sm" style="float:right;margin:0;">
					            </uib-pagination>
								</div>
							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->

<script type="text/javascript">

	jQuery(function($) {
		$('.date-picker').datepicker({
    		autoclose: true,
    		todayHighlight: true,
            format: "yyyy-mm-dd"
    	})
    	.next().on(ace.click_event, function(){
    		$(this).prev().focus();
    	});


		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition:true,
			scalePhotos:true,
			scrolling:false,
			previous:'<i class="ace-icon fa fa-arrow-left"></i>',
			next:'<i class="ace-icon fa fa-arrow-right"></i>',
			close:'&times;',
			current:'{current} of {total}',
			maxWidth:'100%',
			maxHeight:'100%',
			onOpen:function(){
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed:function(){
				document.body.style.overflow = $overflow;
			},
			onComplete:function(){
				$.colorbox.resize();
			}
	};

	$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
	$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


	$(document).one('ajaxloadstart.page', function(e) {
		$('#colorbox, #cboxOverlay').remove();
   	});

	});

</script>
