<div class="modal-content" ng-init="init()">

    <div class="modal-header">
        <button type="button" ng-click="onCancelClick()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>红包详情</strong></h4>
    </div>

    <div style="margin-left:16px;margin-top:10px;">
	<div class="infobox infobox-blue">
		<div class="infobox-icon">
			<i class="ace-icon fa fa-shopping-cart"></i>
		</div>

		<div class="infobox-data" style="width:90px;">
			<span class="infobox-data-number">{{data[0].totalBalance}}元</span>
			<div class="infobox-content">红包总金额</div>
		</div>
	</div>

	<div class="infobox infobox-pink">
		<div class="infobox-icon">
			<i class="ace-icon fa fa-shopping-cart"></i>
		</div>

		<div class="infobox-data" style="width:90px;">
			<span class="infobox-data-number">{{data[0].count}}个</span>
			<div class="infobox-content">红包总个数</div>
		</div>
	</div>
    <div class="infobox infobox-red">
		<div class="infobox-icon">
			<i class="ace-icon fa fa-shopping-cart"></i>
		</div>

		<div class="infobox-data" style="width:90px;">
			<span class="infobox-data-number">{{data[0].receiveCount}}个</span>
			<div class="infobox-content">已被领取红包</div>
		</div>
	</div>
    </div>

    <div class="modal-body" >
        <div class="con_row con_con mb0">
            <div class="table-header">
                红包领取列表
            </div>
            <div>
                <table class="table table-striped table-bordered table-hover" ng-init="getPage()">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>昵称</th>
                            <th>手机号码</th>
                            <th>领取金额(元)</th>
                            <th>领取时间</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="row in data" repeat-finish align="center">
                            <td>{{($index+1)}}</td>
                            <td>{{row.nickName}}</td>
                            <td>{{row.mobile}}</td>
                            <td style="color:#D53F40"><strong>{{row.balance}}<strong></td>
                            <td>{{row.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="margin-top:50px;">
    </div>

</div>
